@import url(https://fonts.googleapis.com/css?family=Ubuntu);html,
body {
  background-color: #778f9b;
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
}

html a,
body a {
  color: #000000;
}

.navbar {
  background-color: #4a626d;
}

.navbar .title {
  color: #ffffff;
}

.card-header {
  background-color: #c9bc1f;
}

