
// Primary Colors
$primary: #778f9b;
$primary-dark: #4a626d;
$primary-light: #a6bfcc;

// Secondary Colors
$secondary: #ffee58;
$secondary-dark: #c9bc1f;
$secondary-light: #ffff8b;

// Text
$text-color: #000000;
$text-on-dark: #ffffff;
