@import '_variables';

html, body {
    background-color: $primary;
    color: $text-color;
}

.navbar {
    background-color: $primary-dark;
    .title {
        color: $text-on-dark;
    }
}

.card-header {
    background-color: $secondary-dark;
}
