@import '_variables';
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html, body {
    background-color: $primary;
    color: $text-color;
    font-family: 'Ubuntu', sans-serif;
    a {
        color: $text-color;
    }
}

.navbar {
    background-color: $primary-dark;
    .title {
        color: $text-on-dark;
    }
}

.card-header {
    background-color: $secondary-dark;
}
